In [1]:
import pandas

In [2]:
df1 = pandas.DataFrame([[2,4,6],[10,20,30]],columns=["Price","Age","Value"],index=["One","Two"])

In [3]:
df1

     Price  Age  Value
One      2    4      6
Two     10   20     30

In [4]:
df1.Price.mean()

6.0